html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", Arial;
  background-image: url(/img/dots.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

section {
  padding: 4em 2em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.hero-design {
  display: none;
}

.nav-container {
  background: #6700ee;
}

.nav-container a {
  color: #fff;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
}

header .logo {
  color: #00f7ff;
  line-height: 20px;
  letter-spacing: 2px;
  margin-left: 10px;
  font-size: 1rem;
}

header .logo .logo-placeholder {
  display: none;
}

header .logo .logo-title {
  font-size: 12px;
  color: #fff;
}

header nav #click {
  display: none;
}

header nav .menu-btn i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #00f7ff;
  font-size: 1.3rem;
  margin-top: 10px;
}

header #click:checked ~ .menu-btn i:before {
  content: "\f00d";
  color: #fff;
}

header nav ul {
  position: absolute;
  top: 70px;
  left: -100%;
  width: 100%;
  text-align: center;
  height: 99vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: -webkit-gradient(linear, left bottom, left top, from(#22b7c3), color-stop(90%, #6700ee));
  background: linear-gradient(0deg, #22b7c3 0%, #6700ee 90%);
  text-transform: uppercase;
  z-index: 1100;
}

header nav ul li {
  width: 100%;
  margin: 20px 0;
  padding: 25px 0;
}

header nav ul li a {
  width: 100%;
  margin-left: -100%;
  font-size: 1.8rem;
  -webkit-transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

header nav ul li a:active,
header nav ul li a:hover {
  background: none;
  color: cyan;
}

header #click:checked ~ ul {
  left: 0;
}

header #click:checked ~ ul li a {
  margin-left: 0px;
  font-size: 1.1rem;
  z-index: 90000;
}

.hero-container {
  background: #6e00ff;
  color: #fff;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 4em;
}

.hero-container .hero-title {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 300;
  font-size: 1rem;
}

.hero-container .hero-title .txt-rotate > .wrap {
  font-size: 1.2em;
}

.hero-container .mouse-scroller {
  position: relative;
  right: 0;
  top: 15px;
  left: 0;
  margin: auto;
}

.hero-container .mouse-scroller .mouse {
  width: 10px;
  padding: 5px 6px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin-bottom: 20px;
}

.hero-container .mouse-scroller .mouse .mouse-animation {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: scroll 3s linear infinite;
  animation: scroll 3s linear infinite;
}

@-webkit-keyframes scroll {
  from {
    opacity: 1;
    position: relative;
    top: 0;
  }
  to {
    opacity: 0.5;
    position: relative;
    top: 25px;
  }
}

@keyframes scroll {
  from {
    opacity: 1;
    position: relative;
    top: 0;
  }
  to {
    opacity: 0.5;
    position: relative;
    top: 25px;
  }
}

.subtitle {
  text-transform: uppercase;
  font-weight: 700;
  color: #6e00ff;
  letter-spacing: 0.2em;
  font-size: 0.85em;
}

.featured-title {
  color: #000;
  font-size: 1.3em;
  font-weight: 700;
  margin-top: -0.4em;
  display: block;
}

.featured-desc {
  color: #252525;
  margin-bottom: 3em;
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: 500;
}

.featured-desc img {
  max-width: 300px;
  width: 100%;
}

.featured {
  position: relative;
}

.featured:before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #9f82f3;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
}

.skills {
  background: #63cb9e;
}

.skills-container {
  text-align: center;
}

.skills-container ul li {
  background: #fff;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.skills-container ul li .icon-container {
  height: 100px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: 0 auto;
}

.skills-container ul li .icon-container.one,
.skills-container ul li .icon-container .two,
.skills-container ul li .icon-container .three {
  width: 50px;
}

.skills-container ul li .icon-container.two {
  width: 50px;
}

.skills-container ul li .icon-container.three {
  width: 80px;
}

.skills-container ul li .skill-title {
  font-weight: 700;
}

.skills-container ul li .featured-desc {
  margin-bottom: 2em;
}

.about {
  background: #dd19ff;
}

.about .about-container {
  text-align: center;
}

.about .about-container ul {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
}

.about .about-container ul li {
  background: #fff;
  padding: 2em;
  border-radius: 1em;
}

.about .about-container ul li .about-title {
  font-weight: 700;
  text-align: center;
}

.about .about-container ul li .icon-container {
  height: 100px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: 0 auto;
  padding: 2em 0;
}

.about .about-container ul li .icon-container.one {
  width: 200px;
}

.about .about-container ul li .icon-container.two {
  width: 50px;
}

.about .about-container ul li .icon-container.three {
  width: 80px;
}

.about .about-container ul li .featured-desc {
  margin-bottom: 2em;
}

.portfolio {
  background: #f7f7f7;
}

.portfolio-container img {
  max-width: 500px;
  width: 100%;
  border-radius: 1em;
  margin-bottom: 2em;
}

.footer-container {
  height: 30vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 78% auto;
      grid-template-columns: 78% auto;
  background: unset;
  padding: 0;
}

.footer-container .footer-details {
  background: #6e00ff;
  padding-left: 2em;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-container .footer-details .footer-title {
  line-height: 20px;
  letter-spacing: 2px;
  font-size: 1rem;
  color: #28ebfe;
}

.footer-container .footer-details .footer-subtitle {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}

.footer-container .footer-details .social-icon {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-top: 2em;
}

.footer-container .footer-details .social-icon a img {
  width: 40px;
  height: auto;
}

.footer-container .footer-design {
  display: unset;
  margin-left: -50%;
  margin-top: 15%;
  width: 100%;
}

.contact-page-section {
  margin: 1em;
  padding: 0;
}

.contact-page-section .contact-container {
  position: relative;
  min-height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1000;
}

.contact-page-section .contact-container .contact-info {
  position: absolute;
  top: 40px;
  width: 350px;
  height: calc(100% - 300px);
  background-color: #ef7f3f;
  z-index: 1;
  padding: 40px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 20px 20px gainsboro;
          box-shadow: 0 20px 20px gainsboro;
  border-radius: 8px;
}

.contact-page-section .contact-form {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 0.5em;
  background-color: #fff;
}

.contact-page-section .contact-form-title {
  color: dodgerblue;
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.open-modal {
  background: none;
  border: none;
  font-size: inherit;
  font-weight: 500;
  text-decoration: underline;
  font-family: "Poppins";
  padding: 0;
  margin: 0;
  white-space: normal;
}

.open-modal:hover {
  text-decoration: none;
  color: dodgerblue;
}

.contact-page-section .contact-form .contact-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  padding-top: 30px;
}

.contact-page-section .contact-form .contact-form-container .input-area {
  position: relative;
  margin: 0 0 20px 0;
}

.contact-page-section .contact-form .contact-form-container .input-area input {
  width: 100%;
  padding: 5px 0;
  font-size: 1rem;
  font-weight: 300;
  color: #00b6fc;
  border: none;
  border-bottom: 1px solid #6c6c6c;
  outline: none;
}

.contact-page-section > .contact-form > .contact-form-container > .input-area > input::-webkit-input-placeholder {
  color: #6d6d6d;
  font-size: 16px;
}

.contact-page-section > .contact-form > .contact-form-container > .input-area > input:-ms-input-placeholder {
  color: #6d6d6d;
  font-size: 16px;
}

.contact-page-section > .contact-form > .contact-form-container > .input-area > input::-ms-input-placeholder {
  color: #6d6d6d;
  font-size: 16px;
}

.contact-page-section > .contact-form > .contact-form-container > .input-area > input::placeholder {
  color: #6d6d6d;
  font-size: 16px;
}

.w50,
.w100 {
  width: 100%;
}

.contact-page-section .contact-form .contact-form-container .input-area input.submit-button {
  background: #63cb9e;
  border: 2px solid #b5e6d1;
  border-radius: 8px;
  font-size: inherit;
  font-weight: 700;
  padding: 10px 20px;
  color: #fff;
}

.contact-page-section .contact-form .contact-form-container .input-area input.submit-button:hover {
  background: #b5e6d1;
  border: 2px solid #63cb9e;
  color: #63cb9e;
}

section .contact-container .contact-form .input-area textarea {
  font-size: 1rem;
  font-weight: 300;
  color: black;
  border-bottom: 1px solid black;
  font-family: "Poppins";
  margin: 0px 0px -10px 0;
  height: 72px;
  padding: 5px;
}

section .contact-container .contact-form .input-area input {
  width: 100%;
  font-size: 18px;
  font-weight: 300;
  color: #6c6c6c;
  border-bottom: 1px solid #6c6c6c;
  padding: 5px;
}

.text-field {
  border-radius: 8px;
  margin-bottom: -10px;
  width: 90%;
}

.text-field::-webkit-input-placeholder {
  color: #6d6d6d;
  font-size: 15px;
  padding: 0 5px 5px 5px;
  height: 200px;
}

.text-field:-ms-input-placeholder {
  color: #6d6d6d;
  font-size: 15px;
  padding: 0 5px 5px 5px;
  height: 200px;
}

.text-field::-ms-input-placeholder {
  color: #6d6d6d;
  font-size: 15px;
  padding: 0 5px 5px 5px;
  height: 200px;
}

.text-field::placeholder {
  color: #6d6d6d;
  font-size: 15px;
  padding: 0 5px 5px 5px;
  height: 200px;
}

.phone-icon {
  position: relative;
  top: -10px;
}

.contact-page-section .contact-container .contact-info {
  display: none;
}

.w50,
.w100 {
  width: 100%;
}

.w50 span {
  display: none;
}

.modal {
  opacity: 0;
  position: absolute;
  max-width: 480px;
  background: #63cb9e;
  border: 2px solid #b5e6d1;
  border-radius: 8px;
  top: 15%;
  left: 7px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.modal.is-active {
  opacity: 1;
  pointer-events: all;
  z-index: 2000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  color: #ffffff;
  font-size: 16px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 35vh;
  width: 82%;
}

.modal.is-active .contact-modal-title {
  font-family: poppins;
  font-size: 20px;
  font-weight: 600;
}

.modal.is-active .close-modal {
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}

.modal.is-active p {
  line-height: 30px;
}

.modal.is-active ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal.is-active ul li {
  padding: 10px 0;
}

.modal.is-active ul li img {
  position: relative;
  top: 5px;
}

.modal.is-active ul li:active {
  border: 1px solid dodgerblue;
  padding: 5px;
}

.modal.is-active ul li span .mail-icon {
  position: relative;
  top: 5px;
}

.modal.is-active ul li span .phone-icon {
  position: relative;
  top: 10px;
}

.modal.is-active ul li a span {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  color: fff;
  text-decoration: underline;
}

.modal.is-active ul li a span:hover {
  text-decoration: none;
  color: dodgerblue;
}

.brand {
  display: none;
}

@media only screen and (min-width: 610px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1em 2em;
  }
  .featured,
  .portfolio {
    text-align: left;
  }
  .featured,
  .portfolio-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
  }
  .left,
  .portfolio-left {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .right {
    margin-left: 2em;
    margin-top: 1em;
  }
  .portfolio {
    padding-top: 7em;
  }
  .portfolio-container img {
    margin-left: 2em;
  }
  .business-model-icon {
    height: 130px;
    display: -ms-grid;
    display: grid;
    padding-top: 2em;
    padding-bottom: 3em;
    place-content: center;
    margin: 0 auto;
  }
  .business-model-icon {
    max-width: 249px;
  }
  .contact-page-section {
    margin: 2em;
  }
  .contact-page-section .contact-form {
    padding: 2em;
  }
  .contact-page-section .contact-form .contact-form-title {
    font-size: 1.5em;
  }
  .contact-page-section .contact-form .contact-form-container .input-area {
    margin: 10px 0;
    width: 92%;
  }
  .contact-page-section .contact-form .contact-form-container .input-area textarea {
    margin: 10px auto;
    width: 98%;
  }
  .modal {
    display: none;
  }
  .modal.is-active {
    padding: 1em;
    position: absolute;
    top: 70%;
    left: 10%;
    height: 50vh;
    width: 68%;
  }
  .modal.is-active .contact-modal-title {
    font-size: 1.3em;
  }
  .modal.is-active p {
    font-size: 1.1em;
    font-weight: 100;
  }
  .modal.is-active ul li a span {
    font-size: 1em;
    margin-left: 1em;
    font-weight: 200;
  }
}

@media only screen and (min-width: 895px) {
  .skills,
  .about {
    margin-top: -5em;
    margin-bottom: -7em;
    padding-top: 7em;
  }
  .skills-container ul,
  .about-container ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }
  .about-container ul {
    margin-left: 0em;
  }
  .column-stretch {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .design {
    max-width: 330px;
    width: 100%;
    padding-bottom: 1em;
  }
  .four {
    width: 50%;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .footer-container {
    margin-top: 7em;
  }
  .contact-page-section {
    margin: 2em auto;
    width: 70%;
  }
  .contact-page-section .contact-form {
    padding: 2em;
  }
  .contact-page-section .contact-form .contact-form-title {
    font-size: 1.5em;
  }
  .contact-page-section .contact-form .contact-form-container {
    padding-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-page-section .contact-form .contact-form-container .input-area {
    margin: 10px 0;
    width: 50%;
  }
  .contact-page-section .contact-form .contact-form-container .input-area textarea {
    margin: 10px auto;
    width: 98.5%;
  }
  .brand {
    display: block;
  }
  .brand .logo-main {
    width: 200px;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 57%;
    top: 50%;
    z-index: 2000;
    height: auto;
  }
  .modal.is-active {
    opacity: 1;
    top: 35%;
    left: 52%;
    height: 46vh;
    width: 37vw;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .modal.is-active .contact-modal-title {
    font-size: 1.5em;
    line-height: 3;
  }
  .modal.is-active .contact-modal-subtitle p {
    font-size: 1em;
    margin-top: 5px;
  }
  .modal.is-active ul li {
    padding-top: 2em;
  }
  .modal.is-active ul li a span {
    font-weight: 300;
  }
}

@media only screen and (min-width: 1050px) {
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 80% auto;
        grid-template-columns: 80% auto;
    background: unset;
  }
  .nav-container header {
    background: #6700ee;
  }
  .nav-container header nav ul {
    position: relative;
    top: 0;
    left: 65px;
    width: 100%;
    height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-transform: uppercase;
    background: none;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 3em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-container header nav ul li {
    width: inherit;
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
  .nav-container header nav ul li a {
    font-size: 16px;
    color: #fff;
    display: initial;
    padding: 0 10px;
  }
  .nav-container .fa-bars {
    display: none;
  }
  .hero-container {
    height: 66vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
  }
  .hero-container .hero-text-content {
    background: #6e00ff;
    padding: 0 8em 0 4em;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .hero-container .hero-text-content .hero-title {
    font-size: 2em;
    line-height: 1.2em;
  }
  .hero-design {
    display: unset;
    margin-left: -50%;
    margin-top: 15%;
    width: 100%;
  }
  .wrap {
    font-size: 2em;
  }
  .hero-container .mouse-scroller {
    position: absolute;
    top: 75%;
    left: 19%;
    margin: auto;
    z-index: 9999;
  }
  .hero-container .mouse-scroller .mouse {
    width: 25px;
    padding: 25px 15px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 40%;
    opacity: 0.75;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    margin-bottom: 20px;
  }
  .hero-container .mouse-scroller .mouse .mouse-animation {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    -webkit-animation: scroll 3s linear infinite;
            animation: scroll 3s linear infinite;
  }
  img {
    max-width: 900px;
  }
  .portfolio img {
    float: right;
    max-width: 500px;
  }
  .card-3 {
    margin-right: 1em;
  }
  .featured,
  .skills {
    margin-left: 9em;
  }
  .footer-container .footer-details .footer-title,
  .footer-container .footer-details .footer-subtitle {
    font-size: 1.2em;
  }
  .contact-page-section .contact-container .contact-info h2 {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
  }
  .contact-page-section .contact-container .contact-info p {
    color: #000000;
    font-weight: 500;
  }
  .contact-page-section .contact-container .contact-info .info {
    position: relative;
  }
  .contact-page-section .contact-container .contact-info .info li {
    position: relative;
    list-style: none;
    margin: 20px 0;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contact-page-section > .contact-container > .contact-info > .info > li > span > :nth-child(1) {
    width: 30px;
    min-width: 30px;
  }
  .contact-page-section > .contact-container > .contact-info > .info > li > span > :nth-child(1) > img {
    max-width: 100%;
    opacity: 0.76;
  }
  .contact-page-section .contact-container .contact-info .info li a {
    color: #000000;
    margin-left: 10px;
    font-weight: 500;
  }
  .modal.is-active {
    opacity: 1;
    top: 35%;
    left: 52%;
    height: 47vh;
    width: 30vw;
  }
  .brand .logo-main {
    width: 300px;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 54%;
    top: 40%;
    z-index: 2000;
    height: auto;
  }
  .contact-page-section .contact-form .contact-form-container .input-area input.submit-button {
    width: 200px;
    margin-left: 25%;
  }
}

@media only screen and (min-width: 1250px) {
  .social-header {
    padding: 2em 10em 2em 0;
  }
  section {
    padding: 10em 10em 4em 10em;
  }
  .hero .text-content {
    padding: 6em 8em 6em 10em;
  }
  .footer-container .footer-details {
    background: #6e00ff;
    text-align: left;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .brand .logo-main {
    left: 56%;
  }
}

@media only screen and (min-width: 1550px) {
  .social-header {
    padding: 2em 20em 4em 0;
  }
  section {
    padding: 6em 20em 4em 10em;
  }
  .featured:before {
    top: 5em;
    left: 5em;
  }
  .hero-title,
  .mouse-scroller {
    padding-left: 8em;
    -webkit-animation: fall-in 1s ease-in;
    animation: fall-in 1s ease-in;
  }
  .wrap {
    padding-left: 8em;
  }
  .skills-container {
    text-align: center;
  }
  .portfolio-left {
    padding-left: 8em;
  }
  svg.hero-design {
    margin-left: -49.5%;
    -webkit-animation: flash 1.5s ease-in;
    animation: flash 1.5s ease-in;
  }
  svg.hero-design .square-anim:hover {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
  }
  svg.hero-design .Ellipse_purple:hover {
    -webkit-animation: 1s ease-in-out;
    animation: 1s ease-in-out;
    fill: #43e7ff;
  }
  svg.hero-design .Ellipse_green:hover {
    -webkit-animation: 1s ease-in-out;
    animation: 1s ease-in-out;
    fill: #9c9c9c;
  }
  .left,
  .portfolio-left {
    padding-left: 0;
    -webkit-animation: swing-right 1.5s ease-in-out;
    animation: swing-right 1.5s ease-in-out;
  }
  .right,
  .portfolio img {
    -webkit-animation: swing-left 2.5s ease-in;
    animation: swing-left 2.5s ease-in;
  }
  .transition-2a {
    -webkit-animation: reveal 2s ease-in;
    animation: reveal 2s ease-in;
  }
  .transition-2b {
    -webkit-animation: reveal 2.7s ease-in;
    animation: reveal 2.7s ease-in;
  }
  .transition-2c {
    -webkit-animation: reveal 3.5s ease-in;
    animation: reveal 3.5s ease-in;
  }
  @-webkit-keyframes reveal {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes reveal {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes swing-right {
    0% {
      margin-left: -1000px;
    }
    100% {
      margin-right: 0;
    }
  }
  @keyframes swing-right {
    0% {
      margin-left: -1000px;
    }
    100% {
      margin-right: 0;
    }
  }
  @-webkit-keyframes swing-left {
    0% {
      margin-left: 1000px;
    }
    100% {
      margin-left: 0;
    }
  }
  @keyframes swing-left {
    0% {
      margin-left: 1000px;
    }
    100% {
      margin-left: 0;
    }
  }
  @-webkit-keyframes fall-in {
    0% {
      opacity: 0;
      margin-bottom: 1000px;
    }
    100% {
      opacity: 1;
      margin-bottom: 0;
    }
  }
  @keyframes fall-in {
    0% {
      opacity: 0;
      margin-bottom: 1000px;
    }
    100% {
      opacity: 1;
      margin-bottom: 0;
    }
  }
  @-webkit-keyframes flash {
    0% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes flash {
    0% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }
  .brand .logo-main {
    left: 58%;
    top: 45%;
  }
  .modal.is-active {
    top: 38%;
    left: 53%;
    height: 45vh;
    width: 40vw;
  }
}

@media only screen and (min-width: 1650px) {
  .featured,
  .skills,
  .portfolio-left {
    margin-left: 9em;
  }
  .about-container ul {
    margin-left: 9em;
  }
}
/*# sourceMappingURL=style.css.map */