@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfecg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: Poppins;
}

section {
  padding: 4em 2em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

.brand,
.footer-design,
.hero-design,
.mouse-scroller,
.top-social-icon,
header nav #click {
  display: none;
}

.nav-container {
  background: #6700ee;
}

.nav-container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1em;
}

.nav-container header a {
  color: #fff;
  padding-left: 1em;
}

.nav-container header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.nav-container header .logo .logo-placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: auto;
  margin: 3px;
}

.nav-container header .logo .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 10px;
}

.nav-container header .logo .logo-container .logo-name {
  color: #1bf7ff;
  line-height: 20px;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.nav-container header .logo .logo-container .logo-title {
  font-size: 0.85rem;
  color: #fff;
}

.nav-container header nav ul {
  position: absolute;
  top: 70px;
  left: -100%;
  width: 100%;
  height: 99vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #22b7c3), color-stop(90%, #6700ee));
  background: linear-gradient(0deg, #22b7c3 0, #6700ee 90%);
  text-transform: uppercase;
  z-index: 1100;
}

.nav-container header nav ul li {
  width: 100%;
  height: 40px;
  padding: 25px 0;
  margin: 25px 0;
  font-size: 3em;
}

.nav-container header nav ul li a {
  width: 100%;
  margin-left: -100%;
  -webkit-transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav-container header nav ul li a:hover {
  background: 0 0;
  color: #0ff;
}

header #click:checked ~ ul {
  left: 0;
}

header #click:checked ~ ul li a {
  margin-left: 0px;
  font-size: 1.4rem;
  z-index: 90000;
}

.menu-btn path {
  fill: #fff;
  width: 35px;
  height: auto;
}

.hero-container {
  background: #6e00ff;
  color: #fff;
  display: -ms-grid;
  display: grid;
  text-align: left;
  padding: 2em;
}

.hero-container .hero-title {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
}

.hero-container .wrap {
  font-family: "Poppins";
  font-size: 22px;
  margin: 0;
}

.overlay {
  background-image: url(/img/dots.svg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.overlay .mobile-social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.overlay .mobile-social-icon a {
  margin: 10px;
}

.overlay .featured {
  position: relative;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.overlay .featured:before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #63cb9e;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
}

.overlay .featured .left .inner .subtitle {
  text-transform: uppercase;
  font-weight: 700;
  color: #551a8b;
  letter-spacing: 0.2em;
  font-size: 0.85em;
}

.overlay .featured .left .inner .featured-title {
  color: #6e00ff;
  font-size: 1.3em;
  font-weight: 700;
  margin-top: -0.4em;
  display: block;
}

.overlay .featured .left .inner .featured-desc {
  color: #000100;
  margin-bottom: 3em;
  font-size: 1rem;
  text-transform: none;
  line-height: 1.8em;
  font-weight: 500;
}

.overlay .skills {
  background: #63cb9e;
}

.overlay .skills .skills-container {
  text-align: center;
}

.overlay .skills .skills-container ul li {
  background: #fff;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.overlay .skills .skills-container ul li .skill-title {
  color: #6e00ff;
  font-weight: 700;
  margin-top: -0.4em;
}

.overlay .skills .skills-container ul li p {
  margin-bottom: 2em;
  text-align: left;
}

.overlay .skills .skills-container ul li .icon-container {
  height: 100px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: 0 auto;
}

.overlay .skills .skills-container ul li .one {
  width: 50px;
}

.overlay .skills .skills-container ul li .two {
  width: 50px;
}

.overlay .skills .skills-container ul li .three {
  width: 80px;
}

.overlay .portfolio .portfolio-container img {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 100%;
  border-radius: 1em;
}

.overlay .portfolio {
  padding: 2em;
}

.overlay .portfolio .portfolio-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  place-content: center;
}

.overlay .portfolio .portfolio-container a {
  margin: 10px auto;
}

.overlay .portfolio .portfolio-container a img {
  width: 90vw;
  height: 100%;
  border-radius: 2px;
}

.overlay .portfolio .portfolio-left .inner .subtitle {
  font-size: 1.3rem;
}

.overlay .portfolio .portfolio-left .inner .featured-title {
  font-size: 1.1rem;
  text-transform: capitalize;
}

.overlay .portfolio .portfolio-left .inner .featured-desc {
  font-size: 1rem;
  text-transform: normal;
  color: #3d3d3d;
}

.overlay .portfolio .case-study-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 15px 30px;
  background-color: #1e90ff;
  color: #fff;
  border: 1px solid #fff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.overlay .portfolio .case-study-btn:hover {
  color: #1e90ff;
  background: transparent;
  border-color: #1e90ff;
}

.overlay .about {
  background: #6e00ff;
}

.overlay .about .about-container {
  text-align: center;
}

.overlay .about .about-container ul {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
}

.overlay .about .about-container ul li {
  background: #fff;
  padding: 1em;
  border-radius: 1em;
}

.overlay .about .about-container ul li .icon-container {
  height: 100px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: 0 auto;
  padding: 1em 0;
}

.overlay .about .about-container ul li .one {
  width: 200px;
  padding: 1em;
}

.overlay .about .about-container ul li .two {
  width: 50px;
}

.overlay .about .about-container ul li .three {
  width: 80px;
}

.overlay .about .about-container ul li .about-title {
  font-weight: 700;
  text-align: center;
  color: #000100;
}

.overlay .about .about-container ul li .featured-desc {
  margin-bottom: 2em;
}

.overlay .about .about-container ul li .icon-container svg {
  width: 100%;
}

.overlay .about .about-container ul li .experience-vector {
  padding: 0;
}

.overlay .about .about-container ul li .degree img {
  width: 100px;
  padding: 1em 0;
}

.deliverables-img svg {
  width: 230px;
}

.contact-page-section {
  padding: 2em;
  margin: 0 auto;
  width: 80%;
}

.contact-page-section .contact-container {
  position: relative;
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  z-index: 1000;
}

.contact-page-section .contact-container .contact-form {
  border: 1px solid #000100;
  border-radius: 8px;
  padding: 0.5em;
  background-color: #fff;
}

.contact-page-section .contact-container .contact-form .contact-form-title {
  color: #1e90ff;
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.contact-page-section .contact-container .contact-form p .open-modal {
  font-weight: 500;
}

.contact-page-section .contact-container .contact-form p .open-modal:hover {
  text-decoration: underline;
  color: #1e90ff;
}

.contact-page-section .contact-container .contact-form .contact-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
}

.contact-page-section .contact-container .contact-form .contact-form-container {
  width: 75vw;
}

.contact-page-section .contact-container .contact-form .contact-form-container .input-area span {
  display: none;
}

.contact-page-section .contact-container .contact-form .contact-form-container .input-area {
  position: relative;
  margin: 0 0 20px 0;
}

.contact-page-section
  .contact-container
  .contact-form
  .contact-form-container
  .input-area
  label
  .text-field::-webkit-input-placeholder {
  color: #000100;
  font-size: 14px;
  padding: 0 5px 5px 2px;
  height: 200px;
  font-weight: 300;
  font-family: "Poppins";
}

.contact-page-section
  .contact-container
  .contact-form
  .contact-form-container
  .input-area
  label
  .text-field:-ms-input-placeholder {
  color: #000100;
  font-size: 14px;
  padding: 0 5px 5px 2px;
  height: 200px;
  font-weight: 300;
  font-family: "Poppins";
}

.contact-page-section
  .contact-container
  .contact-form
  .contact-form-container
  .input-area
  label
  .text-field::-ms-input-placeholder {
  color: #000100;
  font-size: 14px;
  padding: 0 5px 5px 2px;
  height: 200px;
  font-weight: 300;
  font-family: "Poppins";
}

.contact-page-section
  .contact-container
  .contact-form
  .contact-form-container
  .input-area
  label
  .text-field::placeholder {
  color: #000100;
  font-size: 14px;
  padding: 0 5px 5px 2px;
  height: 200px;
  font-weight: 300;
  font-family: "Poppins";
}

.contact-page-section .contact-container .contact-form .contact-form-container .input-area label .first-child,
.contact-page-section .contact-container .contact-form .contact-form-container .input-area label .second-child,
.contact-page-section .contact-container .contact-form .contact-form-container .input-area label .third-child {
  width: 70vw;
  border-bottom: 1px solid #3d3d3d;
  border-top: none;
  border-left: none;
  border-right: none;
}

.contact-page-section .contact-container .contact-form .contact-form-container .input-area label .text-field {
  width: 70vw;
  overflow: hidden;
}

.contact-page-section .contact-container .contact-form .contact-form-container .input-area .submit-button {
  width: 75vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #004fa3;
  border: 2px solid;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.contact-page-section .contact-container .contact-form .contact-form-container .input-area .submit-button:hover {
  background: #fff;
  color: #004fa3;
}

a {
  text-decoration: none;
}

.modal {
  display: none;
}

.is-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: all;
  z-index: 2000;
  padding: 20px;
  color: #fff;
  font-size: 16px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 25vh;
  width: 82%;
  position: absolute;
  max-width: 480px;
  background: #63cb9e;
  border: 2px solid #b5e6d1;
  border-radius: 8px;
  top: 15%;
  left: 3%;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.is-active .contact-modal-title {
  font-size: 25px;
  font-weight: 500;
}

.is-active .close-modal {
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}

.is-active p {
  line-height: 30px;
  font-size: 19px;
}

.is-active ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.is-active ul li {
  padding: 10px 0;
}

.is-active ul li:active {
  border: 1px solid #1e90ff;
  padding: 5px;
}

.is-active ul a:hover {
  text-decoration: underline;
}

.is-active ul a span {
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}

.is-active ul a span:hover {
  text-decoration: underline;
}

.is-active ul a img {
  position: relative;
  top: 5px;
}

.is-active ul span {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin-left: 5px;
}

.is-active ul span .mail-icon {
  position: relative;
  top: 5px;
}

.is-active ul span .phone-icon {
  position: relative;
  top: 10px;
}

.footer-container {
  height: 30vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  background: unset;
}

.footer-container .footer-details {
  background: #6700ee;
  color: #fff;
  text-align: left;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  padding: 2em 0;
}

.footer-container .footer-details .logo .logo-container .logo-name {
  font-size: 18px;
  color: #fff;
}

.footer-container .footer-details .logo .logo-container .logo-title {
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
}

.footer-container .footer-details .logo .logo-container .address {
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
}

.footer-container .footer-details .logo .logo-container p {
  text-transform: lowercase;
  color: #fff;
  font-size: 16px;
}

.footer-container .footer-social-icon,
.footer-container small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 1px solid gainsboro;
}

.footer-container .footer-social-icon a,
.footer-container small a {
  padding: 1rem;
}

@media only screen and (min-width: 610px) {
  header #click:checked ~ ul {
    left: 0;
  }
  header #click:checked ~ ul li a {
    margin-left: 0px;
    font-size: 1.2rem;
    z-index: 90000;
  }
  .nav-container header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1em 2em;
  }
  .nav-container header .logo .logo-container .logo-name {
    letter-spacing: 0.8px;
    font-size: 1.4rem;
  }
  .nav-container header .logo .logo-container .logo-title {
    font-size: 1.1rem;
  }
  .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero-container .hero-title,
  .hero-container .wrap {
    font-size: 1.9em;
  }
  .hero-container p {
    font-size: 1.2rem;
  }
  .overlay .featured {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
  .overlay .featured .left .inner .subtitle {
    font-size: 1.2rem;
  }
  .overlay .featured .left .inner .featured-desc {
    font-size: 1.1rem;
  }
  .overlay .featured .right {
    margin: 0 auto;
    max-width: 60vw;
    width: 100%;
    height: auto;
  }
  .overlay .skills .skills-container ul li .icon-container {
    height: auto;
  }
  .overlay .skills .skills-container ul li .icon-container img {
    width: 90px;
    height: auto;
    margin-bottom: 2em;
  }
  .overlay .skills .skills-container ul li .icon-container .brand-awareness {
    width: 150px;
    height: auto;
  }
  .overlay .skills .skills-container ul li .skill-title {
    color: #6e00ff;
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: -0.4em;
  }
  .overlay .skills .skills-container ul li .feature-desc {
    font-size: 1.1rem;
  }
  .overlay .portfolio .portfolio-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    place-content: center;
  }
  .overlay .portfolio .portfolio-container img {
    width: 70vw;
  }
  .overlay .portfolio .portfolio-left {
    margin: 10px;
  }
  .overlay .portfolio .portfolio-left .inner .subtitle {
    font-size: 1.6rem;
    text-transform: capitalize;
  }
  .overlay .portfolio .portfolio-left .inner .featured-title {
    font-size: 1.3rem;
  }
  .overlay .portfolio .portfolio-left .inner .featured-desc {
    font-size: 1.1em;
  }
  .overlay .about .about-container ul li .icon-container {
    padding: 2em 0;
  }
  .overlay .about .about-container ul li .about-title {
    font-size: 1.4em;
    text-transform: capitalize;
  }
  .overlay .about .about-container ul li .degree img {
    width: 8em;
    height: auto;
  }
  .overlay .about .about-container ul li .experience-vector {
    padding: 0;
    width: 100px;
    height: auto;
  }
  .overlay .about .about-container ul li .icon-container.design {
    padding-top: 5em;
  }
  .overlay .about .about-container ul li .design-process-title {
    padding-top: 1em;
  }
  .overlay .about .about-container ul li .deliverables-img svg {
    width: 350px;
    height: auto;
  }
  .overlay .about .about-container ul li .deliverables-title {
    padding-top: 2em;
  }
  .overlay .about .about-container ul li .business-model-icon {
    height: 100px;
    width: auto;
    display: -ms-grid;
    display: grid;
    padding-top: 2em;
    padding-bottom: 3em;
    place-content: center;
    margin: 0 auto;
    max-width: 249px;
    padding-top: 10em;
    padding-bottom: 8em;
  }
  .overlay .about .about-container ul li .business-model-icon img {
    width: 350px;
    height: auto;
  }
  .contact-page-section .contact-container .contact-form {
    padding: 2em;
  }
  .contact-page-section .contact-container .contact-form .contact-form-title {
    font-size: 1.5em;
  }
  .contact-page-section .contact-container .contact-form p {
    font-size: 1.2rem;
  }
  .contact-page-section .contact-container .contact-form .contact-form-container .input-area {
    margin: 10px 0;
    width: 92%;
  }
  .contact-page-section .contact-container .contact-form .contact-form-container .input-area textarea {
    margin: 10px auto;
    width: 98%;
  }
  .contact-page-section .contact-container .contact-form .contact-form-container .input-area .text-field {
    border-radius: 8px;
    margin-bottom: -10px;
    width: 100%;
  }
  .contact-page-section .contact-container .contact-form .contact-form-container .input-area .submit-button {
    width: 40%;
    margin: 0 auto;
    padding: 10px 20px;
  }
  .contact-page-section
    .contact-container
    .contact-form
    .contact-form-container
    .input-area
    label
    .first-child::-webkit-input-placeholder,
  .contact-page-section
    .contact-container
    .contact-form
    .contact-form-container
    .input-area
    label
    .second-child::-webkit-input-placeholder,
  .contact-page-section
    .contact-container
    .contact-form
    .contact-form-container
    .input-area
    label
    .third-child::-webkit-input-placeholder,
  .contact-page-section
    .contact-container
    .contact-form
    .contact-form-container
    .input-area
    label
    .text-field::-webkit-input-placeholder {
    font-size: 1.2rem;
  }
  .contact-page-section
    .contact-container
    .contact-form
    .contact-form-container
    .input-area
    label
    .first-child:-ms-input-placeholder,
  .contact-page-section
    .contact-container
    .contact-form
    .contact-form-container
    .input-area
    label
    .second-child:-ms-input-placeholder,
  .contact-page-section
    .contact-container
    .contact-form
    .contact-form-container
    .input-area
    label
    .third-child:-ms-input-placeholder,
  .contact-page-section
    .contact-container
    .contact-form
    .contact-form-container
    .input-area
    label
    .text-field:-ms-input-placeholder {
    font-size: 1.2rem;
  }
  .contact-page-section
    .contact-container
    .contact-form
    .contact-form-container
    .input-area
    label
    .first-child::-ms-input-placeholder,
  .contact-page-section
    .contact-container
    .contact-form
    .contact-form-container
    .input-area
    label
    .second-child::-ms-input-placeholder,
  .contact-page-section
    .contact-container
    .contact-form
    .contact-form-container
    .input-area
    label
    .third-child::-ms-input-placeholder,
  .contact-page-section
    .contact-container
    .contact-form
    .contact-form-container
    .input-area
    label
    .text-field::-ms-input-placeholder {
    font-size: 1.2rem;
  }
  .contact-page-section
    .contact-container
    .contact-form
    .contact-form-container
    .input-area
    label
    .first-child::placeholder,
  .contact-page-section
    .contact-container
    .contact-form
    .contact-form-container
    .input-area
    label
    .second-child::placeholder,
  .contact-page-section
    .contact-container
    .contact-form
    .contact-form-container
    .input-area
    label
    .third-child::placeholder,
  .contact-page-section
    .contact-container
    .contact-form
    .contact-form-container
    .input-area
    label
    .text-field::placeholder {
    font-size: 1.2rem;
  }
  .modal {
    top: 15%;
    left: 7%;
  }
  .is-active {
    height: 25vh;
    width: 82%;
    height: 30vh;
  }
  .is-active .contact-modal-title {
    font-size: 2em;
  }
  .is-active p {
    font-size: 1.3rem;
  }
  .is-active .close-modal {
    font-size: 15px;
    padding: 5px 10px;
  }
  .is-active .close-modal:hover {
    color: #9c9c9c;
  }
  .is-active ul li span {
    font-size: 1.3rem;
  }
  .footer-container .footer-details {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    padding-left: 2em;
  }
  .footer-container .footer-details .logo .logo-container .logo-name {
    letter-spacing: 0.5px;
    font-size: 1.7rem;
  }
  .footer-container .footer-details .logo .logo-container .logo-title {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 895px) {
  img {
    max-width: 400px;
    width: 100%;
  }
  .icon-container {
    padding: 0;
  }
  .featured {
    padding: 7em 3em;
  }
  .featured .right {
    margin-left: 2em;
    max-width: 494px;
  }
  .portfolio {
    padding: 7em 3em 7em 2em;
  }
  .skills {
    margin-bottom: -7em;
    padding-top: 7em;
  }
  .skills-container ul,
  .about-container ul {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }
  .about {
    padding: 2em;
  }
  .degree img {
    width: 90px;
    padding: 3.5em 0;
  }
  .about-container ul {
    margin-left: 0;
  }
  .column-stretch {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .design {
    width: 100%;
    padding: 1em 1em 1em 0;
  }
  .four {
    width: 50%;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .contact-page-section .contact-form {
    padding: 2em;
  }
  .contact-page-section .contact-form .contact-form-title {
    font-size: 1.5em;
  }
  .contact-page-section .contact-form .contact-form-container {
    padding-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contact-page-section .contact-form .contact-form-container .input-area {
    margin: 10px 0;
    width: 50%;
  }
  .contact-page-section .contact-form .contact-form-container .input-area textarea {
    margin: 10px auto;
    width: 98.5%;
  }
  .w50 {
    width: 100%;
  }
  .brand {
    display: block;
  }
  .brand .logo-main {
    width: 250px;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 57%;
    top: 30%;
    z-index: 2000;
    height: auto;
  }
  .modal.is-active {
    opacity: 1;
    opacity: 1;
    top: 28%;
    left: 52%;
    height: 25vh;
    width: 31vw;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .modal.is-active .contact-modal-title {
    font-size: 1.5em;
  }
  .modal.is-active .contact-modal-subtitle p {
    font-size: 1em;
    margin-top: 5px;
  }
  .modal.is-active ul li a span:hover {
    text-decoration: underline;
  }
}

@media only screen and (min-width: 1050px) {
  .menu-btn {
    display: none;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .logo-name {
    font-size: 1.2rem;
  }
  .nav-container header a .logo-title {
    font-size: 0.9rem;
  }
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 80% auto;
    grid-template-columns: 80% auto;
    background: unset;
  }
  .nav-container header {
    background: #6700ee;
  }
  .nav-container header nav ul {
    position: relative;
    top: 0;
    left: 27px;
    height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    text-transform: uppercase;
    background: none;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-container header nav ul li {
    width: inherit;
    margin: 0;
    padding: 0;
    font-size: 16px;
    width: 26%;
  }
  .nav-container header nav ul li a {
    font-size: 16px;
    color: #fff;
    display: initial;
    padding: 0 10px;
  }
  .nav-container header nav ul li a:hover {
    color: cyan;
  }
  svg.hero-design {
    margin-left: -49.5%;
    -webkit-animation: flash 1.5s ease-in;
    animation: flash 1.5s ease-in;
  }
  svg.hero-design .square-anim:hover {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
  }
  svg.hero-design .Ellipse_purple:hover {
    -webkit-animation: 1s ease-in-out;
    animation: 1s ease-in-out;
    fill: #43e7ff;
  }
  svg.hero-design .Ellipse_green:hover {
    -webkit-animation: 1s ease-in-out;
    animation: 1s ease-in-out;
    fill: #9c9c9c;
  }
  .left,
  .portfolio-left {
    padding-left: 0;
    -webkit-animation: swing-right 1.5s ease-in-out;
    animation: swing-right 1.5s ease-in-out;
  }
  .right,
  .portfolio img {
    -webkit-animation: swing-left 2.5s ease-in;
    animation: swing-left 2.5s ease-in;
  }
  .transition-2a {
    -webkit-animation: reveal 2s ease-in;
    animation: reveal 2s ease-in;
  }
  .transition-2b {
    -webkit-animation: reveal 2.7s ease-in;
    animation: reveal 2.7s ease-in;
  }
  .transition-2c {
    -webkit-animation: reveal 3.5s ease-in;
    animation: reveal 3.5s ease-in;
  }
  @-webkit-keyframes reveal {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes reveal {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes swing-right {
    0% {
      margin-left: -1000px;
    }
    100% {
      margin-right: 0;
    }
  }
  @keyframes swing-right {
    0% {
      margin-left: -1000px;
    }
    100% {
      margin-right: 0;
    }
  }
  @-webkit-keyframes swing-left {
    0% {
      margin-left: 1000px;
    }
    100% {
      margin-left: 0;
    }
  }
  @keyframes swing-left {
    0% {
      margin-left: 1000px;
    }
    100% {
      margin-left: 0;
    }
  }
  @-webkit-keyframes flash {
    0% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes flash {
    0% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }
  .nav-container header {
    background: #6700ee;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .nav-container header nav ul {
    position: relative;
    top: 0;
    left: 27px;
    height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    text-transform: uppercase;
    background: none;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-container header nav ul li {
    width: inherit;
    margin: 0;
    padding: 0;
    font-size: 16px;
    width: 26%;
  }
  .nav-container header nav ul li a {
    font-size: 16px;
    color: #fff;
    display: initial;
    padding: 0 10px;
  }
  .nav-container header nav ul li a:hover {
    color: cyan;
  }
  .mobile-social-icon {
    display: none;
  }
  .top-social-icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
  .fa-download {
    color: #04a9f4;
  }
  .fa-twitter-square {
    color: #41bef8;
  }
  .fa-github {
    color: #0d0e09;
  }
  .fa-linkedin {
    color: #007bb6;
  }
  .fa-download {
    color: #04a9f4;
  }
  .footer-social-icon a:hover,
  .top-social-icon i:hover {
    opacity: 0.5;
  }
  .nav-container .fa-bars {
    display: none;
  }
  .hero-container {
    height: 66vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
    grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
  }
  .hero-container .hero-text-content {
    background: #6e00ff;
    padding: 0 8em 0 4em;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .hero-container .hero-text-content .hero-title {
    font-size: 2em;
    line-height: 1em;
  }
  .hero-container .hero-text-content .wrap {
    font-size: 2em;
  }
  .hero-design {
    display: unset;
    margin-left: -50%;
    margin-top: 15%;
    width: 100%;
  }
  .hero-container .mouse-scroller {
    position: absolute;
    top: 60%;
    left: 22%;
    margin: auto;
    z-index: 9999;
    display: block;
  }
  .hero-container .mouse-scroller .mouse {
    width: 10px;
    padding: 5px 6px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin-bottom: 20px;
  }
  .hero-container .mouse-scroller .mouse .mouse-animation {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    -webkit-animation: scroll 3s linear infinite;
    animation: scroll 3s linear infinite;
  }
  @-webkit-keyframes scroll {
    from {
      opacity: 1;
      position: relative;
      top: 0;
    }
    to {
      opacity: 0.5;
      position: relative;
      top: 25px;
    }
  }
  @keyframes scroll {
    from {
      opacity: 1;
      position: relative;
      top: 0;
    }
    to {
      opacity: 0.5;
      position: relative;
      top: 25px;
    }
  }
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .fade-in {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
  }
  .fade-in.transition-1 {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  .fade-in.transition-2 {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
  }
  .fade-in.transition-3 {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
  }
  .fade-in.transition-4 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  .fade-in.transition-5 {
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s;
  }
  .featured,
  .skills,
  .portfolio-left {
    -webkit-animation: fadeIn 5s ease-in-out;
    animation: fadeIn 5s ease-in-out;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  img {
    max-width: 250px;
  }
  .top-social-icon img {
    max-height: 30px;
  }
  .featured .right {
    max-width: 587px;
  }
  .portfolio {
    padding: 7em 3em;
  }
  .portfolio .portfolio-container {
    -ms-grid-columns: 50% auto;
    grid-template-columns: 50% auto;
  }
  .portfolio .portfolio-container .portfolio-left {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .portfolio .portfolio img {
    float: right;
    max-width: 500px;
  }
  .about {
    padding: 3em;
  }
  .business-model-icon img {
    width: 200px;
    height: auto;
  }
  .card-3 {
    margin-right: 1em;
  }
  .footer-container .footer-details {
    padding-left: 3em;
  }
  .footer-container .footer-details .footer-title {
    font-size: 1.3em;
  }
  .footer-container .footer-details .footer-subtitle {
    font-size: 1em;
    padding: 1em 0;
  }
  .contact-page-section {
    padding: 4em;
    margin: 0 auto;
    width: 70%;
  }
  .contact-page-section .contact-container .contact-info h2 {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
  }
  .contact-page-section .contact-container .contact-info h2 p {
    color: #000000;
    font-weight: 500;
  }
  .contact-page-section .contact-container .contact-info h2 .info {
    position: relative;
  }
  .contact-page-section .contact-container .contact-info h2 .info li {
    position: relative;
    list-style: none;
    margin: 20px 0;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .contact-page-section .contact-container .contact-info h2 .info li a {
    color: #000000;
    margin-left: 10px;
    font-weight: 500;
  }
  .contact-page-section > .contact-container > .contact-info > .info > li > span > :nth-child(1) {
    width: 30px;
    min-width: 30px;
  }
  .contact-page-section > .contact-container > .contact-info > .info > li > span > :nth-child(1) > img {
    max-width: 100%;
    opacity: 0.76;
  }
  .contact-page-section .contact-container .contact-form .contact-form-title {
    font-size: 1.7rem;
  }
  .contact-page-section .contact-container .contact-form p,
  .contact-page-section .contact-container .contact-form .contact-form-container .input-area input,
  .contact-page-section .contact-container .contact-form .contact-form-container .input-area .text-field {
    font-size: 1.2rem;
  }
  .modal.is-active {
    opacity: 1;
    top: 33%;
    left: 52%;
    height: 23vh;
    width: 27vw;
  }
  .brand .logo-main {
    left: 55%;
    top: 34%;
  }
  .contact-page-section .contact-form .contact-form-container .input-area input.submit-button {
    width: 200px;
    margin-left: 25%;
  }
  .case-study-overlay > section {
    padding: 1em 15em;
  }
  .hero-container-projects {
    height: 700px;
    display: block;
    background-image: url(/img/remind-me-project.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0;
  }
  .hero-container-projects .hero-content-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    max-width: 1240px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }
  .hero-container-projects .hero-content-grid .hero-text-content {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: left;
  }
  .hero-container-projects .hero-content-grid .hero-text-content .hero-title-case-study {
    position: absolute;
    left: 0;
    bottom: 32%;
    font-size: 1.5rem;
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.3)));
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
    width: 100%;
    max-width: 100%;
    letter-spacing: 4px;
    line-height: 3rem;
    padding-left: 3rem;
  }
  .case-study-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    text-align: left;
    min-height: 200px;
  }
  .case-study-inner h1 {
    font-size: 1.7em;
    text-align: left;
  }
  .case-study-inner p {
    font-size: 1.4rem;
    text-align: left;
  }
  .case-study-inner .case-study-list {
    display: -ms-grid;
    display: grid;
    place-content: center;
    text-align: left;
    font-size: 1.4em;
  }
  .case-study-inner .case-study-list li {
    list-style: none;
    margin-right: 10px;
    padding: 10px;
  }
  .case-study-inner .case-study-list ::marker {
    margin-left: 1em;
    font-size: 1em;
  }
  .case-study-container {
    display: -ms-grid;
    display: grid;
    -webkit-animation: none;
    animation: none;
    -ms-grid-columns: none;
    grid-template-columns: none;
  }
  .case-study-container img {
    max-width: 90vw;
    width: 100%;
  }
  .full-width-banner {
    width: 100vw;
    height: 10vh;
    background-color: #1da1f2;
    margin: 3em 0 0 0;
  }
  .full-width-banner h1 {
    font-size: 1.7em;
    color: #fff;
  }
  .full-width-section {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    margin: 0 auto;
  }
  .full-width-section img {
    max-width: 100vw;
    width: 100%;
  }
  .full-width-section .secondary-button {
    font-family: Poppins;
    font-size: 22px;
    color: black;
    text-decoration: underline;
    margin: 1em 0;
  }
}

@media only screen and (min-width: 1250px) {
  .hero-container .hero-text-content .hero-title {
    font-size: 1.8em;
    line-height: 1.5em;
  }
  .social-header {
    padding: 2em 10em 2em 0;
  }
  section {
    padding: 10em 10em 4em 10em;
  }
  .left,
  .portfolio-left {
    display: -ms-grid;
    display: grid;
    place-content: center;
    padding: 0 3em;
  }
  .hero .text-content {
    padding: 6em 8em 6em 10em;
  }
  .featured .right {
    max-width: 700px;
  }
  .design img {
    max-width: 900px;
  }
  .modal.is-active .contact-modal-title {
    font-size: 1.7em;
  }
  .modal.is-active ul li a span {
    font-weight: 500;
    margin-left: 10px;
    font-size: 1.1rem;
  }
  .footer-container .footer-details {
    background: #6e00ff;
    text-align: left;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: end;
  }
  .brand .logo-main {
    top: 33%;
    left: 58%;
  }
}

@media only screen and (min-width: 1550px) {
  .nav-container header a {
    padding-left: 4em;
  }
  .social-header {
    padding: 2em 20em 4em 0;
  }
  .portfolio,
  .featured {
    padding: 7em 5em 7em 5em;
  }
  .featured:before {
    top: 5em;
    left: 5em;
  }
  .hero-title,
  .mouse-scroller {
    padding-left: 0.5em;
    -webkit-animation: fall-in 1s ease-in;
    animation: fall-in 1s ease-in;
  }
  @-webkit-keyframes fall-in {
    0% {
      opacity: 0;
      margin-bottom: 1000px;
    }
    100% {
      opacity: 1;
      margin-bottom: 0;
    }
  }
  @keyframes fall-in {
    0% {
      opacity: 0;
      margin-bottom: 1000px;
    }
    100% {
      opacity: 1;
      margin-bottom: 0;
    }
  }
  .wrap {
    padding-left: 0.5em;
  }
  .skills {
    padding: 7em 14em 5em 14em;
  }
  .skills .skills-container {
    text-align: center;
  }
  .about {
    padding: 6em;
  }
  .contact-page-section {
    padding: 5em;
    margin: 0 auto;
  }
  .contact-page-section .contact-container .contact-form {
    padding: 2em;
  }
  .brand .logo-main {
    width: 300px;
    left: 58%;
    top: 32%;
  }
  .modal.is-active {
    top: 34%;
    left: 52%;
    height: 24vh;
    width: 27vw;
    padding: 2em;
  }
  .modal.is-active .contact-modal-title {
    font-size: 1.7em;
  }
  .modal.is-active .contact-modal-subtitle p {
    font-size: 1.2em;
  }
  .footer-container .footer-details {
    padding-left: 6em;
  }
  .footer-container .footer-design {
    position: relative;
    right: 40%;
  }
  .footer-container .footer-design img {
    max-width: 250px;
    width: 100%;
  }
}

@media only screen and (min-width: 1650px) {
  .modal.is-active {
    top: 35%;
    height: 24vh;
  }
  .about .about-container ul {
    padding: 0 6%;
  }
  .footer-container .footer-design {
    position: relative;
    right: 37.5%;
  }
  .contact-form-container .input-area label .input placeholder {
    color: red;
  }
}

@media only screen and (min-width: 1870px) {
  .hero-container .hero-text-content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px 27em 0 0em;
  }
  .portfolio,
  .featured {
    padding: 7em 0em;
  }
  .featured:before {
    height: 300px;
    width: 300px;
  }
  .footer-container .footer-design {
    position: relative;
    right: 33%;
  }
  .portfolio-left {
    display: -ms-grid;
    display: grid;
    place-content: center;
    padding: 0 3em 0 14em;
  }
  .about .about-container {
    margin: 0 2em;
  }
}
/*# sourceMappingURL=style.css.map */
