@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
.bg-gradient-chill {
  background: linear-gradient(135deg, #94aaab 0%, #0291e3 100%);
}

.bg-gradient-warm {
  background: linear-gradient(135deg, #fff774 50%, #fd803f 100%);
}

.bg-gradient-hot {
  background: linear-gradient(135deg, #f9445a -70%, #fd803f 100%);
}

.bg-gradient-cold {
  background: linear-gradient(135deg, #8019c6 0%, #2f93cc 100%);
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: Poppins;
  padding: 0;
  margin: 0;
}

h1 {
  line-height: 27pt;
  color: #2c4465;
  font-size: 2rem;
  font-weight: 500;
  font-variant-caps: all-petite-caps;
  letter-spacing: 0.3rem;
  text-align: center;
}

h2 {
  line-height: 27pt;
  color: #2c4465;
  font-size: 1.7rem;
  font-weight: 500;
  font-variant-caps: all-petite-caps;
  letter-spacing: 0.3rem;
  text-align: center;
}

p {
  font-family: "Poppins";
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

section {
  padding: 2em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

.success {
  color: #006500;
  text-decoration: underline;
}

.failure {
  color: #ad0021;
  text-decoration: underline;
}

.carousel-container,
.discovery-card-inner,
.mouse-scroller,
.top-social-icon,
header nav #click {
  display: none;
}

.editorial-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.editorial-card.with-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.editorial-card.with-image .editorial-description_col .left-aligned {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.editorial-card.with-image .editorial-description_col .center-aligned {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.editorial-card.with-image .editorial-description_col .center-aligned img {
  background: #ffffff;
  width: 50%;
  height: auto;
  border: 1px solid #2c4465;
  border-radius: 5px;
  margin: 1em;
}

.editorial-card.with-image .editorial-description_col .center-aligned.scrollable-image_small {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.editorial-card.with-image .editorial-description_col .center-aligned.scrollable-image_small:hover {
  -webkit-transform: scale(3.6);
          transform: scale(3.6);
  margin: 8em;
}

.editorial-card.with-image .editorial-description_col .center-aligned.scrollable-image_large {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.editorial-card.with-image .editorial-description_col .center-aligned.scrollable-image_large:hover {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  margin: 8em;
}

.editorial-card.with-image .editorial-description_col .center-aligned figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.editorial-card.with-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.editorial-card.with-list .editorial-title_centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5em;
}

.editorial-card.with-list .editorial-description_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.editorial-card.with-list .editorial-description_col .left-aligned {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.editorial-card.with-list .editorial-description_col .center-aligned {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
  margin-top: 0;
  list-style-type: disc;
}

.editorial-card.with-list .editorial-description_col .center-aligned ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style: disc;
  margin: 2em;
}

.editorial-card.with-gif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.editorial-card.with-gif .editorial-description_col .left-aligned {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.editorial-card.with-gif .editorial-description_col .center-aligned {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.editorial-card.with-gif .editorial-description_col .center-aligned .animated-gif img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.editorial-card.with-gif .editorial-description_col figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.three-column-editorial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  grid-gap: 30px;
}

.three-column-editorial ul {
  list-style: disc;
  margin-left: 1em;
}

.nav-container {
  background: #2c4465;
  height: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nav-container header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 37px;
}

.nav-container header .logo .logo-placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0.7em;
}

.nav-container header .logo .logo-placeholder .company-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-container header .logo .logo-placeholder .company-logo img {
  width: 100%;
  height: auto;
}

.nav-container header .logo .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  margin-bottom: 5px;
}

.nav-container header .logo .logo-container .logo-name {
  color: #ffffff;
  line-height: 26px;
  letter-spacing: 4pt;
  font-size: 1.3rem;
  font-variant-caps: all-petite-caps;
}

.nav-container header .logo .logo-container .logo-title {
  display: none;
}

.nav-container header nav ul {
  position: absolute;
  top: 55px;
  left: -100%;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: #396baf;
  text-transform: uppercase;
  z-index: 1100;
}

.nav-container header nav ul li {
  width: 100%;
  margin: 25px 0;
  font-size: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-container header nav ul li a {
  color: #ffffff;
  width: 100%;
  margin-left: -100%;
}

.nav-container header nav ul li a:hover {
  background: 0 0;
  color: #0ff;
}

header #click:checked ~ ul {
  left: 0;
}

header #click:checked ~ ul li a {
  position: relative;
  top: 0;
  left: 50%;
}

.menu-btn svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: auto;
  position: absolute;
  right: 10px;
  top: 12px;
}

.menu-btn svg path {
  fill: #ffffff;
}

.global-banner-container {
  background: lemonchiffon;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4em 8em;
  font-size: 1rem;
}

.global-banner-container .center-aligned {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.global-banner-container .left-aligned {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer {
  position: relative;
  top: -1px;
}

footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-container .footer-details {
  background: #2c4465;
  color: #ffffff;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1em;
}

footer .footer-container .footer-details .footer-top-bar {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footer-container .footer-details .footer-top-bar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footer-container .footer-details .footer-top-bar .logo .logo-placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: auto;
  margin-right: 9px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-container .footer-details .footer-top-bar .logo .logo-name {
  font-size: 22px;
  color: #ffffff;
  line-height: 11px;
  font-variant-caps: all-petite-caps;
  letter-spacing: 5pt;
}

footer .footer-container .footer-details .footer-top-bar .logo .logo-title {
  color: #ffffff;
  font-variant-caps: all-petite-caps;
  letter-spacing: 1.6pt;
}

footer .footer-container .footer-details .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 15px;
}

footer .footer-container .footer-details .logo-container .mailto-link {
  color: #ffffff;
  text-decoration: underline;
  -webkit-text-decoration-color: #ffffff;
          text-decoration-color: #ffffff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin-top: 20px;
}

footer .footer-container .footer-details .logo-container .mailto-link:hover {
  text-decoration: none;
  font-weight: 500;
}

.footer-container .footer-social-icon,
.footer-container small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid gainsboro;
}

.footer-container .footer-social-icon a,
.footer-container small a {
  padding: 1rem;
}

@media (min-width: 992px) {
  .carousel-container,
  .discovery-card-inner,
  .mouse-scroller,
  .top-social-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1250px) {
  section {
    padding: 0 10em;
  }
  .bg-gradient-warm {
    padding: 5em 10em;
  }
  .bg-gradient-hot {
    padding: 5em 8em;
  }
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70% auto;
        grid-template-columns: 70% auto;
    background: unset;
    padding: 0;
  }
  .nav-container header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px;
    background: #2c4465;
  }
  .nav-container header .logo {
    padding-left: 7.5em;
  }
  .nav-container header .logo .logo-placeholder {
    margin-left: 1.5em;
  }
  .nav-container header .logo .logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 10px;
    color: #ffffff;
  }
  .nav-container header .logo .logo-container .logo-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 13px;
  }
  .nav-container header .logo .logo-container .logo-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 20px;
    font-variant-caps: all-petite-caps;
  }
  .nav-container header nav {
    max-height: 60px;
    height: 100%;
  }
  .nav-container header nav ul {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: transparent;
    height: 60px;
    top: 0;
    left: -11px;
  }
  .nav-container header nav ul li {
    font-size: 13px;
    width: 26%;
  }
  .nav-container header nav ul li a {
    padding: 0 10px;
    -webkit-transition: 1s all;
    transition: 1s all;
  }
  .nav-container header nav ul li a:hover {
    color: cyan;
  }
  .top-social-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 1em;
  }
  .top-social-icon a {
    margin: 0 1.8em 0 1em;
    -webkit-transition: 1s all;
    transition: 1s all;
  }
  .menu-btn svg {
    display: none;
  }
  .hero-container {
    height: 88vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70% auto;
        grid-template-columns: 70% auto;
  }
  .hero-container .hero-text-content {
    padding: 7em 5em 0em 4em;
    display: -ms-grid;
    display: grid;
    grid-gap: 1em;
  }
  .hero-container .col {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .hero-container .col .hero-index-vector {
    width: 25vw;
    height: auto;
  }
  .hero-container {
    height: 93vh;
  }
  .hero-container.figma-google-project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: url(/img/background--figma_chrome.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
  }
  .hero-container.figma-google-project .is-centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero-container.figma-google-project .is-centered .hero-text-content {
    margin-left: 10px;
    background: transparent;
  }
  .hero-container.figma-google-project .is-centered .hero-text-content .hero-title-case-study {
    text-shadow: 3px 6px 6px white, 4px -4px 8px white, -5px 1px 7px white, -3px -7px 6px white;
  }
  .hero-container.figma-google-project .is-centered .hero-text-content .hero-title-case-study .hero-title {
    font-size: 4em;
    font-weight: 600;
    letter-spacing: 10pt;
    font-style: normal;
    font-variant-caps: all-petite-caps;
    line-height: 33pt;
    text-align: left;
  }
  .hero-container.figma-google-project .is-centered .hero-text-content .hero-title-case-study .hero-subtitle {
    font-size: 2rem;
    letter-spacing: 3pt;
    font-variant-caps: all-petite-caps;
    letter-spacing: 5pt;
    font-weight: 600;
  }
  .centered-title {
    padding: 1em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .three-column-editorial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    grid-gap: 30px;
  }
  .three-column-editorial .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 33.33%;
  }
  .three-column-editorial .col.one {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .three-column-editorial .col.two {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .three-column-editorial .col.three {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .editorial-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .editorial-card.with-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .editorial-card.with-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .editorial-card.with-list .editorial-title_centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .editorial-card.with-list .editorial-description_col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .editorial-card.with-list .editorial-description_col .left-aligned {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .editorial-card.with-list .editorial-description_col .center-aligned {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1em;
    margin-top: 0;
  }
  .editorial-card.with-list .editorial-description_col .center-aligned ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    list-style: disc;
    margin: 2em;
  }
  .multi-card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    grid-gap: 20px;
    padding: 0 2em;
  }
  .multi-card-container .icon_description-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 25%;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .multi-card-container .icon_description-card .icon-placeholder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .multi-card-container .icon_description-card .icon-placeholder img {
    width: 100px;
    height: auto;
  }
  .multi-card-container .icon_description-card .card-editorial {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .swot-analysis-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: auto;
  }
  .swot-analysis-section .carousel-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1000px;
    height: 500px;
    border: 1px solid #2c4465;
    border-radius: 10px;
    overflow: hidden;
    background: antiquewhite;
  }
  .swot-analysis-section .carousel-container .carousel-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 500px;
  }
  .swot-analysis-section .carousel-container .carousel-slider input {
    display: none;
  }
  .swot-analysis-section .carousel-container .carousel-slider .slides {
    -webkit-transition: 2s;
    transition: 2s;
  }
  .swot-analysis-section .carousel-container .carousel-slider .slides img {
    width: 1000px;
    height: 500px;
  }
  .swot-analysis-section .carousel-container .carousel-slider .navigation-manual {
    position: absolute;
    margin-top: 525px;
    left: 550px;
    width: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .swot-analysis-section .carousel-container .carousel-slider .navigation-manual .manual-btn {
    border: 1px solid #2c4465;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .swot-analysis-section .carousel-container .carousel-slider .navigation-manual .manual-btn:hover {
    background: #2c4465;
  }
  .swot-analysis-section .carousel-container .carousel-slider .navigation-manual .manual-btn:not(:last-child) {
    margin-right: 40px;
  }
  .swot-analysis-section .carousel-container .carousel-slider .navigation-auto {
    position: absolute;
    margin-top: 525px;
    left: 550px;
    width: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .swot-analysis-section .carousel-container .carousel-slider .navigation-auto div {
    border: 1px solid #2c4465;
    padding: 5px;
    border-radius: 5px;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .swot-analysis-section .carousel-container .carousel-slider .navigation-auto div:not(:last-child) {
    margin-right: 40px;
  }
  #radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #2c4465;
  }
  #radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #2c4465;
  }
  #radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #2c4465;
  }
  #radio4:checked ~ .navigation-auto .auto-btn4 {
    background: #2c4465;
  }
  #radio1:checked ~ .first-image {
    margin-left: 0%;
  }
  #radio2:checked ~ .second-image {
    margin-left: -100%;
  }
  #radio3:checked ~ .third-image {
    margin-left: -200%;
  }
  #radio4:checked ~ .fourth-image {
    margin-left: -300%;
  }
  .validation-section .validation-image-container .validated-test-a img .ta1,
  .validation-section .validation-image-container .validated-test-a img .ta2,
  .validation-section .validation-image-container .validated-test-a img .ta3,
  .validation-section .validation-image-container .validated-test-a img img {
    height: 200px;
    width: auto;
  }
  .outcomes-gallery-container .row .col .full-width-image-container .small-img img {
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
  }
  footer .footer-container .footer-details {
    padding: 5em;
  }
  .top-social-icon {
    margin: 0 1.5em;
  }
  .hero-container .hero-text-content {
    padding: 8em 2em 0em 9em;
  }
}
/*# sourceMappingURL=style-trial.css.map */