body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins", Arial;
}

section {
  padding: 4em 2em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 500px;
  width: 100%;
}

.hero-design {
  display: none;
}

.nav-container {
  background: #6700ee;
  a {
    color: #fff;
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  .logo {
    color: #00f7ff;
    line-height: 20px;
    letter-spacing: 2px;
    margin-left: 10px;
    font-size: 1rem;
    .logo-placeholder {
      display: none;
    }
    .logo-title {
      font-size: 12px;
      color: #fff;
    }
  }
  nav #click {
    display: none;
  }
  nav .menu-btn i {
    display: flex;
    color: #00f7ff;
    font-size: 1.3rem;
    margin-top: 10px;
  }

  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
    color: #fff;
  }

  nav ul {
    position: absolute;
    top: 100px;
    left: -100%;
    width: 100%;
    text-align: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
    background: linear-gradient(0deg, #22b7c3 0%, #6700ee 90%);
    text-transform: uppercase;
    li {
      width: 100%;
      margin: 40px 0;
      padding: 25px 0;
      a {
        width: 100%;
        margin-left: -100%;
        font-size: 1.8rem;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        &:active,
        &:hover {
          background: none;
          color: cyan;
        }
      }
    }
  }

  #click:checked ~ ul {
    left: 0;
    z-index: 9999;
    padding-bottom: 80px;
    li a {
      margin-left: 0px;
      font-size: 1.1rem;
    }
  }
}

.hero-container {
  background: #6e00ff;
  color: #fff;
  display: grid;
  text-align: center;
  padding: 4em;
  .hero-title {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 300;
    font-size: 1rem;
    .txt-rotate > .wrap {
      font-size: 1.2em;
    }
  }
  .mouse-scroller {
    position: relative;
    right: 0;
    top: 15px;
    left: 0;
    margin: auto;
    .mouse {
      width: 10px;
      padding: 5px 6px;
      height: 35px;
      border: 2px solid #fff;
      border-radius: 25px;
      opacity: 0.75;
      box-sizing: content-box;
      margin-bottom: 20px;
      .mouse-animation {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fff;
        animation: scroll 3s linear infinite;
      }
    }
  }
  @keyframes scroll {
    from {
      opacity: 1;
      position: relative;
      top: 0;
    }
    to {
      opacity: 0.5;
      position: relative;
      top: 25px;
    }
  }
}

.subtitle {
  text-transform: uppercase;
  font-weight: 700;
  color: #6e00ff;
  letter-spacing: 0.2em;
  font-size: 0.85em;
}
.featured-title {
  color: #000;
  font-size: 1.3em;
  font-weight: 700;
  margin-top: -0.4em;
  display: block;
}
.featured-desc {
  color: #252525;
  margin-bottom: 3em;
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: 500;
}
img {
  max-width: 500px;
  width: 100%;
}

.featured {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #9f82f3;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
  }
}

.skills {
  background: #63cb9e;
}
.skills-container {
  text-align: center;
}
.skills-container ul li {
  background: #fff;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
  .icon-container {
    height: 100px;
    display: grid;
    place-content: center;
    margin: 0 auto;
    &.one,
    .two,
    .three {
      width: 50px;
    }
    &.two {
      width: 50px;
    }
    &.three {
      width: 80px;
    }
  }
  .skill-title {
    font-weight: 700;
  }
  .featured-desc {
    margin-bottom: 2em;
  }
}

.portfolio {
  background: #f7f7f7;
}

.portfolio-container img {
  border-radius: 1em;
  margin-bottom: 2em;
}

@media only screen and (min-width: 610px) {
  .featured,
  .portfolio {
    text-align: left;
  }

  .featured,
  .portfolio-container {
    display: grid;
    grid-template-columns: 40% auto;
  }

  .left,
  .portfolio-left {
    display: grid;
    place-content: center;
  }

  .right {
    margin-left: 2em;
    margin-top: 1em;
  }

  .skills {
    margin-top: -5em;
    margin-bottom: -7em;
    padding-top: 7em;
  }

  .skills-container ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }

  .portfolio {
    padding-top: 7em;
  }

  .portfolio-container img {
    margin-left: 2em;
  }
}

@media only screen and (min-width: 1050px) {
  .nav-container {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
    header {
      background: #6700ee;
      nav {
        ul {
          position: relative;
          top: 0;
          left: 75px;
          width: 100%;
          height: 44px;
          display: flex;
          flex-direction: row;
          transition: all 0.5s ease;
          text-transform: uppercase;
          background: none;
          justify-content: flex-end;
          li {
            width: inherit;
            margin: 0;
            padding: 0;
            font-size: 16px;
            a {
              font-size: 16px;
              color: #fff;
              display: block;
              padding: 0 10px;
            }
          }
        }
      }
    }
    .fa-bars {
      display: none;
    }
  }

  .hero-container {
    height: 90vh;
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
    .hero-text-content {
      background: #6e00ff;
      padding: 0em 8em 0 4em;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      .hero-title {
        font-size: 2em;
        line-height: 1.2em;
      }
    }
  }

  .hero-design {
    display: unset;
    margin-left: -50%;
    margin-top: 15%;
    width: 100%;
  }

  .wrap {
    font-size: 2em;
  }

  .hero-container .mouse-scroller {
    position: absolute;
    top: 75%;
    left: 25%;
    margin: auto;
    z-index: 9999;
    .mouse {
      width: 25px;
      padding: 25px 15px;
      height: 50px;
      border: 2px solid #fff;
      border-radius: 40%;
      opacity: 0.75;
      box-sizing: content-box;
      margin-bottom: 20px;
      .mouse-animation {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: #fff;
        animation: scroll 3s linear infinite;
      }
    }
  }

  img {
    max-width: 900px;
  }

  .portfolio img {
    float: right;
    max-width: 500px;
  }

  .card-3 {
    margin-right: 1em;
  }
}

@media only screen and (min-width: 1250px) {
  // header {
  //   padding: 2em 2em 2em 10em;
  // }

  .social-header {
    padding: 2em 10em 2em 0;
  }

  section {
    padding: 10em 10em 4em 10em;
  }

  .hero .text-content {
    padding: 6em 8em 6em 10em;
  }
}

@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 2em 2em 20em;
  }

  .social-header {
    padding: 2em 20em 4em 0;
  }

  section {
    padding: 6em 20em 4em 10em;
  }

  .hero-title,
  .wrap {
    padding-left: 8em;
  }

  .hero-design {
    margin-left: -49.5%;
  }
}
