@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfecg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
// colors
$white: #fff;
$violet: #6700ee;
$dark-violet: #6e00ff;
$dark-cyan: #007bb6;
$dodger-blue: #1e90ff;
$pantone: #1da1f2;
$deep-sky-blue: #04a9f4;
$indigo: #551a8b;
$black: #000100;
$medium-aquamarine: #63cb9e;
$aqua: #1bf7ff;
$cyan: cyan;
// component colors
$primary-background: $white;
$light-text-color: $white;
$dark-text-color: $black;
$logo-text-color: $aqua;
$top-bar-bg: $violet;
$hero-bg: $dark-violet;
$about-bg: $hero-bg;
$blue-title-color: $dodger-blue;
$skills-bkg: $medium-aquamarine;
$linked-in-color: $dark-cyan;
$twitter-color: $pantone;
$download-color: $deep-sky-blue;
$title-color: $dark-violet;
$subtitle-color: $indigo;
$hover-color: $cyan;

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: Poppins;
}

section {
  padding: 4em 2em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

.brand,
.footer-design,
.hero-design,
.mouse-scroller,
.top-social-icon,
header nav #click {
  display: none;
}

.nav-container {
  background: #6700ee;
  header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    a {
      color: #fff;
      padding-left: 1em;
    }
    .logo {
      display: flex;
      flex-direction: row;
      .logo-placeholder {
        display: flex;
        width: 35px;
        height: auto;
        margin: 3px;
      }
      .logo-container {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        .logo-name {
          color: #1bf7ff;
          line-height: 20px;
          letter-spacing: 1px;
          font-size: 1.2rem;
        }
        .logo-title {
          font-size: 0.85rem;
          color: #fff;
        }
      }
    }

    nav ul {
      position: absolute;
      top: 70px;
      left: -100%;
      width: 100%;
      height: 99vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      transition: all 0.5s ease;
      background: linear-gradient(0deg, #22b7c3 0, #6700ee 90%);
      text-transform: uppercase;
      z-index: 1100;
      li {
        width: 100%;
        height: 40px;
        padding: 25px 0;
        margin: 25px 0;
        font-size: 3em;
        a {
          width: 100%;
          margin-left: -100%;
          transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          &:hover {
            background: 0 0;
            color: #0ff;
          }
        }
      }
    }
  }
}

header #click:checked ~ ul {
  left: 0;
  li a {
    margin-left: 0px;
    font-size: 1.4rem;
    z-index: 90000;
  }
}

.menu-btn {
  path {
    fill: #fff;
    width: 35px;
    height: auto;
  }
}

.hero-container {
  background: $hero-bg;
  color: $light-text-color;
  display: grid;
  text-align: left;
  padding: 2em;
  .hero-title {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
  }
  .wrap {
    font-family: "Poppins";
    font-size: 22px;
    margin: 0;
  }
}

.overlay {
  background-image: url(/img/dots.svg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  .mobile-social-icon {
    display: flex;
    justify-content: center;
    a {
      margin: 10px;
    }
  }
  .featured {
    position: relative;
    display: grid;
    place-content: center;
    &:before {
      content: "";
      position: absolute;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background: $skills-bkg;
      top: 0;
      left: 0;
      z-index: -1;
      opacity: 0.5;
    }
    .left {
      .inner {
        .subtitle {
          text-transform: uppercase;
          font-weight: 700;
          color: $subtitle-color;
          letter-spacing: 0.2em;
          font-size: 0.85em;
        }
        .featured-title {
          color: $title-color;
          font-size: 1.3em;
          font-weight: 700;
          margin-top: -0.4em;
          display: block;
        }
        .featured-desc {
          color: $dark-text-color;
          margin-bottom: 3em;
          font-size: 1rem;
          text-transform: none;
          line-height: 1.8em;
          font-weight: 500;
        }
      }
    }
  }

  .skills {
    background: $skills-bkg;
    .skills-container {
      text-align: center;
      ul li {
        background: $primary-background;
        padding: 2em;
        border-radius: 1em;
        margin-bottom: 1em;
        .skill-title {
          color: $hero-bg;
          font-weight: 700;
          margin-top: -0.4em;
        }
        p {
          margin-bottom: 2em;
          text-align: left;
        }
        .icon-container {
          height: 100px;
          display: grid;
          place-content: center;
          margin: 0 auto;
        }
        .one {
          width: 50px;
        }
        .two {
          width: 50px;
        }
        .three {
          width: 80px;
        }
      }
    }
  }

  .portfolio .portfolio-container img {
    max-width: fit-content;
    width: 100%;
    border-radius: 1em;
  }
  .portfolio {
    padding: 2em;
    .portfolio-container {
      display: grid;
      grid-template-columns: auto;
      place-content: center;
      a {
        margin: 10px auto;
        img {
          width: 90vw;
          height: 100%;
          border-radius: 2px;
        }
      }
    }
    .portfolio-left {
      .inner {
        .subtitle {
          font-size: 1.3rem;
        }
        .featured-title {
          font-size: 1.1rem;
          text-transform: capitalize;
        }
        .featured-desc {
          font-size: 1rem;
          text-transform: normal;
          color: #3d3d3d;
        }
      }
    }
    .case-study-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px 30px;
      background-color: $dodger-blue;
      color: $primary-background;
      border: 1px solid $primary-background;
      font-size: 18px;
      font-weight: 500;
      border-radius: 5px;
      transition: all 0.5s ease-in-out;
      &:hover {
        color: $dodger-blue;
        background: transparent;
        border-color: $dodger-blue;
      }
    }
  }

  .about {
    background: $hero-bg;
    .about-container {
      text-align: center;
      ul {
        display: grid;
        grid-gap: 10px;
        li {
          background: $primary-background;
          padding: 1em;
          border-radius: 1em;
          .icon-container {
            height: 100px;
            display: grid;
            place-content: center;
            margin: 0 auto;
            padding: 1em 0;
          }
          .one {
            width: 200px;
            padding: 1em;
          }
          .two {
            width: 50px;
          }
          .three {
            width: 80px;
          }
          .about-title {
            font-weight: 700;
            text-align: center;
            color: $dark-text-color;
          }
          .featured-desc {
            margin-bottom: 2em;
          }
          .icon-container svg {
            width: 100%;
          }
          .experience-vector {
            padding: 0;
          }
          .degree img {
            width: 100px;
            padding: 1em 0;
          }
        }
      }
    }
  }
}
.deliverables-img {
  svg {
    width: 230px;
  }
}

.contact-page-section {
  padding: 2em;
  margin: 0 auto;
  width: 80%;
}

.contact-page-section .contact-container {
  position: relative;
  max-height: 100vh;
  display: flex;
  height: 100%;
  z-index: 1000;
}

.contact-page-section .contact-container .contact-form {
  border: 1px solid #000100;
  border-radius: 8px;
  padding: 0.5em;
  background-color: #fff;
}

.contact-page-section .contact-container .contact-form .contact-form-title {
  color: #1e90ff;
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.contact-page-section .contact-container .contact-form p .open-modal {
  font-weight: 500;
}

.contact-page-section .contact-container .contact-form p .open-modal:hover {
  text-decoration: underline;
  color: #1e90ff;
}

.contact-page-section .contact-container .contact-form .contact-form-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
}

.contact-page-section .contact-container .contact-form .contact-form-container {
  width: 75vw;
}

.contact-page-section .contact-container .contact-form .contact-form-container .input-area span {
  display: none;
}

.contact-page-section .contact-container .contact-form .contact-form-container .input-area {
  position: relative;
  margin: 0 0 20px 0;
}

.contact-page-section
  .contact-container
  .contact-form
  .contact-form-container
  .input-area
  label
  .text-field::placeholder {
  color: #000100;
  font-size: 14px;
  padding: 0 5px 5px 2px;
  height: 200px;
  font-weight: 300;
  font-family: "Poppins";
}

.contact-page-section .contact-container .contact-form .contact-form-container .input-area label .first-child,
.contact-page-section .contact-container .contact-form .contact-form-container .input-area label .second-child,
.contact-page-section .contact-container .contact-form .contact-form-container .input-area label .third-child {
  width: 70vw;
  border-bottom: 1px solid #3d3d3d;
  border-top: none;
  border-left: none;
  border-right: none;
}

.contact-page-section .contact-container .contact-form .contact-form-container .input-area label .text-field {
  width: 70vw;
  overflow: hidden;
}

.contact-page-section .contact-container .contact-form .contact-form-container .input-area .submit-button {
  width: 75vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #004fa3;
  border: 2px solid;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.contact-page-section .contact-container .contact-form .contact-form-container .input-area .submit-button:hover {
  background: #fff;
  color: #004fa3;
}

a {
  text-decoration: none;
}

.modal {
  display: none;
}
.is-active {
  display: flex;
  pointer-events: all;
  z-index: 2000;
  padding: 20px;
  color: $light-text-color;
  font-size: 16px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  height: 25vh;
  width: 82%;
  position: absolute;
  max-width: 480px;
  background: #63cb9e;
  border: 2px solid #b5e6d1;
  border-radius: 8px;
  top: 15%;
  left: 3%;
  transition: 0.4s ease-in-out;
  .contact-modal-title {
    font-size: 25px;
    font-weight: 500;
  }
  .close-modal {
    color: $light-text-color;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  p {
    line-height: 30px;
    font-size: 19px;
  }
  ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    li {
      padding: 10px 0;
      &:active {
        border: 1px solid $blue-title-color;
        padding: 5px;
      }
    }
    a {
      &:hover {
        text-decoration: underline;
      }
      span {
        font-weight: 300;
        color: $light-text-color;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      img {
        position: relative;
        top: 5px;
      }
    }
    span {
      color: $light-text-color;
      font-size: 14px;
      font-weight: 600;
      margin-left: 5px;
      .mail-icon {
        position: relative;
        top: 5px;
      }
      .phone-icon {
        position: relative;
        top: 10px;
      }
    }
  }
}

.footer-container {
  height: 30vh;
  display: grid;
  grid-template-columns: 100%;
  background: unset;
  .footer-details {
    background: #6700ee;
    color: #fff;
    text-align: left;
    display: grid;
    justify-content: center;
    align-items: start;
    padding: 2em 0;
    .logo {
      .logo-container {
        .logo-name {
          font-size: 18px;
          color: #fff;
        }
        .logo-title {
          color: #fff;
          font-size: 16px;
          text-transform: capitalize;
        }
        .address {
          color: #fff;
          font-size: 16px;
          text-transform: capitalize;
        }
        p {
          text-transform: lowercase;
          color: #fff;
          font-size: 16px;
        }
      }
    }
  }
}

.footer-container .footer-social-icon,
.footer-container small {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gainsboro;
}

.footer-container .footer-social-icon a,
.footer-container small a {
  padding: 1rem;
}

@media only screen and (min-width: 610px) {
  header #click:checked ~ ul {
    left: 0;
    li a {
      margin-left: 0px;
      font-size: 1.2rem;
      z-index: 90000;
    }
  }
  .nav-container {
    header {
      display: flex;
      justify-content: space-between;
      padding: 1em 2em;
      .logo {
        .logo-container {
          .logo-name {
            letter-spacing: 0.8px;
            font-size: 1.4rem;
          }
          .logo-title {
            font-size: 1.1rem;
          }
        }
      }
    }
  }
  .right {
    display: flex;
  }

  .hero-container {
    .hero-title,
    .wrap {
      font-size: 1.9em;
    }
    p {
      font-size: 1.2rem;
    }
  }

  .overlay {
    .featured {
      display: grid;
      grid-template-columns: auto;
      .left {
        .inner {
          .subtitle {
            font-size: 1.2rem;
          }
          .featured-desc {
            font-size: 1.1rem;
          }
        }
      }
      .right {
        margin: 0 auto;
        max-width: 60vw;
        width: 100%;
        height: auto;
      }
    }

    .skills {
      .skills-container {
        ul {
          li {
            .icon-container {
              height: auto;
              img {
                width: 90px;
                height: auto;
                margin-bottom: 2em;
              }
              .brand-awareness {
                width: 150px;
                height: auto;
              }
            }
            .skill-title {
              color: $hero-bg;
              font-size: 1.6rem;
              font-weight: 700;
              margin-top: -0.4em;
            }
            .feature-desc {
              font-size: 1.1rem;
              padding: 3rem;
            }
          }
        }
      }
    }

    .portfolio {
      .portfolio-container {
        display: grid;
        grid-template-columns: auto;
        place-content: center;
        img {
          width: 70vw;
        }
      }
      .portfolio-left {
        margin: 10px;
        .inner {
          .subtitle {
            font-size: 1.6rem;
            text-transform: capitalize;
          }
          .featured-title {
            font-size: 1.3rem;
          }
          .featured-desc {
            font-size: 1.1em;
          }
        }
      }
    }

    .about {
      .about-container {
        ul li {
          .icon-container {
            padding: 2em 0;
          }
          .about-title {
            font-size: 1.4em;
            text-transform: capitalize;
          }
          .degree img {
            width: 8em;
            height: auto;
          }
          .experience-vector {
            padding: 0;
            width: 100px;
            height: auto;
          }
          .icon-container.design {
            padding-top: 5em;
          }
          .design-process-title {
            padding-top: 1em;
          }
          .deliverables-img svg {
            width: 350px;
            height: auto;
          }
          .deliverables-title {
            padding-top: 2em;
          }
          .business-model-icon {
            height: 100px;
            width: auto;
            display: grid;
            padding-top: 2em;
            padding-bottom: 3em;
            place-content: center;
            margin: 0 auto;
            max-width: 249px;
            padding-top: 10em;
            padding-bottom: 8em;
            img {
              width: 350px;
              height: auto;
            }
          }
        }
      }
    }
  }
  .contact-page-section {
    .contact-container {
      .contact-form {
        padding: 2em;
        .contact-form-title {
          font-size: 1.5em;
        }
        p {
          font-size: 1.2rem;
        }
        .contact-form-container {
          .input-area {
            margin: 10px 0;
            width: 92%;
            textarea {
              margin: 10px auto;
              width: 98%;
            }
            .text-field {
              border-radius: 8px;
              margin-bottom: -10px;
              width: 100%;
            }
            .submit-button {
              width: 40%;
              margin: 0 auto;
              padding: 10px 20px;
            }
            label {
              .first-child::placeholder,
              .second-child::placeholder,
              .third-child::placeholder,
              .text-field::placeholder {
                font-size: 1.2rem;
              }
            }
          }
        }
      }
    }
  }
  .modal {
    top: 15%;
    left: 7%;
  }
  .is-active {
    height: 25vh;
    width: 82%;
    height: 30vh;
    .contact-modal-title {
      font-size: 2em;
    }
    p {
      font-size: 1.3rem;
    }
    .close-modal {
      font-size: 15px;
      padding: 5px 10px;
      &:hover {
        color: #9c9c9c;
      }
    }
    ul {
      li {
        span {
          font-size: 1.3rem;
        }
      }
    }
  }

  .footer-container {
    .footer-details {
      justify-content: start;
      padding-left: 2em;
      .logo {
        .logo-container {
          .logo-name {
            letter-spacing: 0.5px;
            font-size: 1.7rem;
          }
          .logo-title {
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 895px) {
  .overlay .portfolio .portfolio-container {
    .case-study-btn {
      width: 250px;
      margin: 0 auto;
    }
    a {
      margin: 10px 0;
      img {
        width: 90vw;
        height: auto;
        border-radius: 2px;
      }
    }
  }
  .icon-container {
    padding: 0;
  }
  .featured {
    padding: 7em 3em;
  }
  .featured .right {
    margin-left: 2em;
    max-width: 494px;
  }
  .portfolio {
    margin: 7em 0;
  }

  .contact-page-section .contact-form {
    padding: 2em;
  }
  .contact-page-section .contact-form .contact-form-title {
    font-size: 1.5em;
  }
  .contact-page-section .contact-form .contact-form-container {
    padding-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contact-page-section .contact-form .contact-form-container .input-area {
    margin: 10px 0;
    width: 50%;
  }
  .contact-page-section .contact-form .contact-form-container .input-area textarea {
    margin: 10px auto;
    width: 98.5%;
  }
  .w50 {
    width: 100%;
  }

  .brand {
    display: block;
  }
  .brand .logo-main {
    width: 250px;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 57%;
    top: 30%;
    z-index: 2000;
    height: auto;
  }
  .modal.is-active {
    opacity: 1;
    opacity: 1;
    top: 28%;
    left: 52%;
    height: 25vh;
    width: 31vw;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .modal.is-active .contact-modal-title {
    font-size: 1.5em;
  }
  .modal.is-active .contact-modal-subtitle p {
    font-size: 1em;
    margin-top: 5px;
  }
  .modal.is-active ul li a span {
    &:hover {
      text-decoration: underline;
    }
  }
}
@media only screen and (min-width: 1050px) {
  .menu-btn {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nav-container {
    display: grid;
    grid-template-columns: 80% auto;
    background: unset;
    header {
      background: #6700ee;
      .logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      .logo-name {
        font-size: 1.2rem;
      }
      a .logo-title {
        font-size: 0.9rem;
      }
      nav {
        ul {
          position: relative;
          top: 0;
          left: 27px;
          height: 44px;
          display: flex;
          flex-direction: row;
          text-transform: uppercase;
          background: none;
          justify-content: flex-end;
          align-items: center;
          li {
            width: inherit;
            margin: 0;
            padding: 0;
            font-size: 16px;
            width: 26%;
            a {
              font-size: 16px;
              color: #fff;
              display: initial;
              padding: 0 10px;
              &:hover {
                color: cyan;
              }
            }
          }
        }
      }
    }
    .top-social-icon {
      display: inline-flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }

  .footer-social-icon a:hover,
  .top-social-icon i:hover {
    opacity: 0.5;
  }

  .hero-container {
    height: 66vh;
    display: grid;
    grid-template-columns: 80% auto;
    background: unset;
    padding: 0;
    .hero-text-content {
      background: #6e00ff;
      padding: 0 8em 0 4em;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      .hero-title {
        font-size: 1.8rem;
        line-height: 2rem;
        .wrap {
          font-size: 2em;
        }
      }
      p {
        font-size: 1.3rem;
      }
    }
    .mouse-scroller {
      position: absolute;
      top: 60%;
      left: 35%;
      margin: auto;
      z-index: 9999;
      display: block;
      .mouse {
        width: 10px;
        padding: 5px 6px;
        height: 35px;
        border: 2px solid $light-text-color;
        border-radius: 25px;
        opacity: 0.75;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        margin-bottom: 20px;
        .mouse-animation {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: $light-text-color;
          animation: scroll 3s linear infinite;
        }
      }
    }
    .hero-design {
      display: unset;
      margin-left: -50%;
      margin-top: 15%;
      width: 100%;
    }
  }
  @keyframes scroll {
    from {
      opacity: 1;
      position: relative;
      top: 0;
    }
    to {
      opacity: 0.5;
      position: relative;
      top: 25px;
    }
  }

  .left,
  .portfolio-left {
    padding-left: 0;
  }

  .overlay {
    .mobile-social-icon {
      display: none;
    }
    .featured {
      .left {
        .inner {
          .subtitle,
          .feature-desc {
            font-size: 1.2rem;
          }
          .featured-title {
            font-size: 1.4rem;
          }
        }
      }
      .right {
        max-width: 587px;
      }
    }
    .skills {
      .skills-container {
        ul li {
          margin-bottom: 2.5em;
          .icon-container {
            img {
              padding: 1.5rem;
              width: 100px;
              height: auto;
            }
            .brand-awareness {
              padding: 1.5rem;
              width: 170px;
              height: auto;
            }
          }
          .skill-title {
            font-size: 2.5rem;
          }
        }
      }
    }
    .portfolio .portfolio img {
      float: right;
      max-width: 500px;
    }
    .portfolio {
      padding: 0;
      margin: 2em auto;
      .portfolio-container {
        grid-template-columns: 50% auto;
        .portfolio-left {
          align-items: center;
          .inner {
            .subtitle {
              font-size: 2rem;
            }
            .featured-title {
              font-size: 1.6rem;
            }
            .featured-desc {
              font-size: 1.3rem;
            }
          }
        }
        .right {
          height: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 45vw;
          }
        }
      }
    }
    .about {
      padding: 3em;
      .about-container {
        ul {
          grid-gap: 50px;
          li {
            .icon-container {
              .about-title {
                font-size: 1.6rem;
              }
            }
            .business-model-icon {
              padding-top: 7em;
            }
            img {
              width: 500px;
              height: auto;
            }
          }
        }
      }
    }
  }

  .footer-container {
    .footer-details {
      padding-left: 3em;
      .footer-title {
        font-size: 1.3em;
        .footer-subtitle {
          font-size: 1em;
          padding: 1em 0;
        }
      }
    }
  }

  .contact-page-section {
    padding: 4em;
    margin: 0 auto;
    width: 70%;
  }
  .contact-page-section .contact-container .contact-info h2 {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
  }
  .contact-page-section .contact-container .contact-info h2 p {
    color: #000000;
    font-weight: 500;
  }
  .contact-page-section .contact-container .contact-info h2 .info {
    position: relative;
  }
  .contact-page-section .contact-container .contact-info h2 .info li {
    position: relative;
    list-style: none;
    margin: 20px 0;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
  }
  .contact-page-section .contact-container .contact-info h2 .info li a {
    color: #000000;
    margin-left: 10px;
    font-weight: 500;
  }
  .contact-page-section > .contact-container > .contact-info > .info > li > span > :nth-child(1) {
    width: 30px;
    min-width: 30px;
  }
  .contact-page-section > .contact-container > .contact-info > .info > li > span > :nth-child(1) > img {
    max-width: 100%;
    opacity: 0.76;
  }
  .contact-page-section .contact-container .contact-form .contact-form-title {
    font-size: 1.7rem;
  }
  .contact-page-section .contact-container .contact-form p,
  .contact-page-section .contact-container .contact-form .contact-form-container .input-area input,
  .contact-page-section .contact-container .contact-form .contact-form-container .input-area .text-field {
    font-size: 1.2rem;
  }
  .modal.is-active {
    opacity: 1;
    top: 33%;
    left: 52%;
    height: 23vh;
    width: 27vw;
  }
  .brand .logo-main {
    left: 55%;
    top: 34%;
  }
  .contact-page-section .contact-form .contact-form-container .input-area input.submit-button {
    width: 200px;
    margin-left: 25%;
  }

  // case study styles

  .case-study-overlay > section {
    padding: 1em 15em;
  }

  .hero-container-projects {
    height: 700px;
    display: block;
    background-image: url(/img/remind-me-project.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0;
    .hero-content-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 20px;
      max-width: 1240px;
      height: 100%;
      margin: 0 auto;
      position: relative;
      z-index: 1;
      .hero-text-content {
        align-self: center;
        text-align: left;
        .hero-title-case-study {
          position: absolute;
          left: 0;
          bottom: 32%;
          font-size: 1.5rem;
          color: #fff;
          background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
          width: 100%;
          max-width: 100%;
          letter-spacing: 4px;
          line-height: 3rem;
          padding-left: 3rem;
        }
      }
    }
  }

  .case-study-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: left;
    min-height: 200px;
    h1 {
      font-size: 1.7em;
      text-align: left;
    }

    p {
      font-size: 1.4rem;
      text-align: left;
    }
    .case-study-list {
      display: grid;
      place-content: center;
      text-align: left;
      font-size: 1.4em;
      li {
        list-style: none;
        margin-right: 10px;
        padding: 10px;
      }
      ::marker {
        margin-left: 1em;
        font-size: 1em;
      }
    }
  }
  .case-study-container {
    display: grid;
    animation: none;
    grid-template-columns: none;
    img {
      max-width: 90vw;
      width: 100%;
    }
  }

  .full-width-banner {
    width: 100vw;
    height: 10vh;
    background-color: $pantone;
    margin: 3em 0 0 0;
    h1 {
      font-size: 1.7em;

      color: #fff;
    }
  }

  .full-width-section {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    margin: 0 auto;
    img {
      max-width: 100vw;
      width: 100%;
    }
    .secondary-button {
      font-family: Poppins;
      font-size: 22px;
      color: black;
      text-decoration: underline;
      margin: 1em 0;
    }
  }
}
@media only screen and (min-width: 1250px) {
  .hero-container .hero-text-content .hero-title {
    font-size: 1.8em;
    line-height: 1.5em;
  }
  .social-header {
    padding: 2em 10em 2em 0;
  }

  section {
    padding: 10em 10em 4em 10em;
  }
  .left,
  .portfolio-left {
    display: grid;
    place-content: center;
    padding: 0 3em;
  }
  .hero .text-content {
    padding: 6em 8em 6em 10em;
  }
  .featured .right {
    max-width: 700px;
  }
  .design img {
    max-width: 900px;
  }
  .modal.is-active .contact-modal-title {
    font-size: 1.7em;
  }
  .modal.is-active ul li a span {
    font-weight: 500;
    margin-left: 10px;
    font-size: 1.1rem;
  }
  .footer-container .footer-details {
    background: #6e00ff;
    text-align: left;
    display: grid;
    justify-content: start;
    align-items: end;
  }

  .brand .logo-main {
    top: 33%;
    left: 58%;
  }
}

@media only screen and (min-width: 1550px) {
  .nav-container header a {
    padding-left: 4em;
  }
  .social-header {
    padding: 2em 20em 4em 0;
  }
  .portfolio,
  .featured {
    padding: 7em 5em 7em 5em;
  }

  .featured:before {
    top: 5em;
    left: 5em;
  }

  .hero-title,
  .mouse-scroller {
    padding-left: 0.5em;
  }

  .wrap {
    padding-left: 0.5em;
  }
  .skills {
    padding: 7em 14em 5em 14em;
  }
  .skills .skills-container {
    text-align: center;
  }
  .about {
    padding: 6em;
  }
  .contact-page-section {
    padding: 5em;
    margin: 0 auto;
  }
  .contact-page-section .contact-container .contact-form {
    padding: 2em;
  }
  .brand .logo-main {
    width: 300px;
    left: 58%;
    top: 32%;
  }
  .modal.is-active {
    top: 34%;
    left: 52%;
    height: 24vh;
    width: 27vw;
    padding: 2em;
  }
  .modal.is-active .contact-modal-title {
    font-size: 1.7em;
  }
  .modal.is-active .contact-modal-subtitle p {
    font-size: 1.2em;
  }
  .footer-container .footer-details {
    padding-left: 6em;
  }
  .footer-container .footer-design {
    position: relative;
    right: 40%;
  }
  .footer-container .footer-design img {
    max-width: 250px;
    width: 100%;
  }
}

@media only screen and (min-width: 1650px) {
  .modal.is-active {
    top: 35%;
    height: 24vh;
  }
  .about .about-container ul {
    padding: 0 6%;
  }
  .footer-container .footer-design {
    position: relative;
    right: 37.5%;
  }
  .contact-form-container {
    .input-area {
      label {
        .input {
          placeholder {
            color: red;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1870px) {
  .hero-container .hero-text-content {
    align-items: center;
    padding: 0px 27em 0 0em;
  }
  .portfolio,
  .featured {
    padding: 7em 0em;
  }
  .featured:before {
    height: 300px;
    width: 300px;
  }
  .footer-container .footer-design {
    position: relative;
    right: 33%;
  }
  .portfolio-left {
    display: grid;
    place-content: center;
    padding: 0 3em 0 14em;
  }
  .about .about-container {
    margin: 0 2em;
  }
}
